.city-list {
    font-size: 14px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.city-list__item {
    display: inline-block;
    margin-right: 14px;
    margin-top: 7px;
    color: #666;
    text-align: center;
}

.city-list__link:hover {
    color: #F03346;
}