.city-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.city-list__item {
    margin-right: 14px;
    margin-top: 7px;
    color: #666;
    text-align: center;
}

.city-list__link:hover {
    color: #F03346;
}