@import url(./styles/weather-icons.min.css);

@font-face {
  font-family: "Weathericons";
  src: local('Weathericons'), url(./font/weathericons-regular-webfont.woff) format("woff");
}

body {
  background-color: #EEEEEE;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1090px;
  padding: 0 15px;
  margin: 0 auto;
}

.blocks {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1026px) {
  .blocks {
    flex-direction: column;
  }

  .current-forecast {
    display: flex;
  }

  .current-forecast__temp {
    flex-grow: 1;
    justify-content: center;
  }

  .current-forecast__details {
    flex-grow: 1;
  }

  .daily-weather {
    margin-top: 20px;
  }

  .info__wrapper,
  .info {
    flex-grow: 1;
    justify-content: space-between;
  }

  .info__temp {
    flex-grow: 1;
    justify-content: space-around;
  }

  .left-block {
    margin-right: 0;
  }

}

@media screen and (max-width: 670px) {
  .current-forecast {
    flex-direction: column;
  }

  .daily-weather {
    flex-direction: column;
    align-items: inherit;
    padding: 15px;
  }

  .date {
    margin-bottom: 7px;
    text-align: start;
  }

  .info {
    flex-direction: column;
    padding: 0;
  }

}

@media screen and (max-width: 480px) {

  .info {
    flex-grow: 0;
  }

  .date {
    font-weight: 600;
  }

  .temp__icon {
    width: 76px;
  }

  .temp__val {
    font-size: 27px;
  }

  .temp__val .sub {
    font-size: 14px;
  }

  .temp__desc {
    margin-top: 3px;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    width: 80px;
  }
}